<aside>
  <%= render "layouts/menu_aside", {:tag_value => params['t']} %>
</aside>
<article id="ajax-content">
  <section>
    position: p1-p2-p3
  </section>
  <h1>title1</h1>
  <section>
    action1 | action2
  </section>
  <section>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </section>
  <section>
    <%= yield %>
  </section>
</article>

